<div class="jumbotron">
  <h1 class="display-4">Bem vindo ao Blog NodeJS</h1>
  <p class="lead">Exemplo de Blog implementado com NodeJS, Express, MongoDB e Handlebars.</p>
  <hr class="my-4">
  <p>Fique por dentro das principais novidades da área de desenvolvimento.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="/usuarios/registro" role="button">Criar uma conta</a>
  </p>
</div>
  <hr>
<div class="container">

<h2>Postagens recentes</h2>
{{#each postagens}}
  <div class="card mt-3">
      <div class="card-body">
          <h4>{{this.titulo}}</h4>
          <p style="text-align: justify;">
            {{this.descricao}}
          </p>
          <a href="/postagem/{{this.slug}}">
            <button class="btn btn-outline-primary">Leia mais</button>
          </a> 
          <hr>
          <small>Criação: {{this.data}}</small><br>
          <small>Categoria: {{this.categoria.nome}}</small><br>
          <small class="badge badge-secondary">{{this.slug}}</small>  <br>
      </div>
  </div>    
{{else}}
  <h4 class="mt-3">Sem postagens para listar!</h4>
{{/each}}
</div>
<footer class="mt-3 text-center">
  Coded by Antônio Abrantes
</footer>